@page
@model RazorPagesPastebin.Pages.Pastebins.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pastebin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pastebin.Paste)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pastebin.Paste)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pastebin.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pastebin.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pastebin.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pastebin.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pastebin.SyntaxHighlighting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pastebin.SyntaxHighlighting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pastebin.PasteExpiration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pastebin.PasteExpiration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pastebin.PasteExposure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pastebin.PasteExposure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pastebin.Folder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pastebin.Folder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pastebin.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pastebin.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pastebin.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pastebin.Title)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pastebin.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
